.con {
  background-color: #000000;
  height: 100vh; /* min-height:100vh */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
  background-color: #202020;
}

.login-website-logo {
  width: 90px;
  padding-bottom: 20px;
}

.input-con {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

.label-text {
  margin-bottom: 0px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}

.input-text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 8px 16px 8px 16px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #6366f1;
  outline: none;
  height: 40x;
}

.login-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.invalid-para {
  color: #ff0b37;
  font-size: 10px;
  align-self: flex-start;
  margin-bottom: 0px;
  line-height: 16px;
}
