.jobs-main-header-con {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
  /* margin: auto; */
}

.jobs-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  height: 100vh;
  flex-shrink: 0;
  background-color: pink;
}

.job-details-head-con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 90vh;
  background-color: red;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jobs-header-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-profile {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.render-profile-con {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 20px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.ul-jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 70%;
}

.hor {
  width: 100%;
}

.hor-con {
  width: 100%;
  margin-top: 5px;
}

.para {
  color: #ffffff;
  font-size: 20px;
}

.job-details-heading {
  color: #ffffff;
}

.failure-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 10px;
}

.failure-logo {
  width: 400px;
  height: 400px;
}

.failure-head {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ffffff;
}

.failure-para {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}

.failure-retry-button {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.success-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-con {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  width: 40%;
}

.search-input {
  width: 100%;
  border: 1px solid #64748b;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background: transparent;
}

.search-icon-button {
  background: transparent;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.get-job-details-ul-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150%;
  min-height: 100vh;
  padding-right: 700px;
}

.no-jobs {
  width: 300px;
  height: 300px;
}

.no-jobs-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
